body {
    /*height: 2000px;*/
}


/*.img-responsive{*/


/*width: 50% !important;*/


/*}*/

.navbar-brand {
    padding: 0 !important;
}

#affiche {
    color: #FFFAF3;
    display: block;
    width: 96%;
    height: 190px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    bottom: 35px;
}

.affiche_text {
    position: absolute;
    top: 0;
    left: 100%;
    line-height: 190px;
    display: block;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.affiche_text span {
    font-size: 160px;
    letter-spacing: 20px;
    font-weight: bold;
}

.affiche_text .affiche_text_wz {
    font-size: 190px;
    letter-spacing: 20px;
    font-weight: bold;
}

.navbar-header .navbar-brand a img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1400px) {
    .tp-caption img {
        width: 400px !important;
        height: 301px !important;
    }
    .rev_slider_wrapper_2 {
        height: 800px !important;
    }
    .tp-fullwidth-forcer {
        height: 800px !important;
    }
    .rev_slider_wrapper {
        height: 920px !important;
    }
    .tp-fullwidth-forcer {
        height: 920px !important;
    }
    #mian_hyk {
        width: 1920px;
        height: 200px;
        position: relative;
        bottom: 60px;
        margin: 0 auto;
    }
    #mian_hyk .mian_hyk_left {
        width: 38.5714285714%;
        height: 100%;
        /*line-height: 30px;*/
        display: inline-block;
        background: white;
        text-align: center;
        vertical-align: middle;
        float: left;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_fw {
        font-size: 42px;
        color: #333;
        line-height: 65px;
        font-weight: bold;
        margin-top: 2.5rem;
        display: inline-block;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_yw {
        font-size: 36px;
        color: #666;
        display: block;
    }
    #mian_hyk .mian_hyk_right {
        width: 61.4285714286%;
        height: 100%;
        display: inline-block;
        float: right;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_top {
        width: 100%;
        height: 50px;
        display: inline-block;
        background: transparent;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_bottom {
        width: 100%;
        height: 140px;
        display: inline-block;
        background: #34373E;
    }
    .mian_hyk_right_bottom_left {
        width: 60%;
        display: inline-block;
        padding: 2.1rem 1.1rem 2.1rem 10rem;
        text-align: left;
        font-size: 18px;
    }
    .mian_hyk_right_bottom_left .mian_hyk_right_wz {
        color: white;
        display: inline-block;
        line-height: 35px;
        letter-spacing: 3px;
    }
    .mian_hyk_right_bottom img {
        width: 165px;
        height: 165px;
        background-size: 80% 80%;
        position: relative;
        bottom: 4rem;
    }
    #mian_hyk2 {
        width: 1920px;
        height: 200px;
        position: relative;
        bottom: 60px;
        margin: 0 auto;
    }
    #mian_hyk2 .mian_hyk2_left {
        width: 38.5714285714%;
        height: 100%;
        /*line-height: 30px;*/
        display: inline-block;
        background: white;
        text-align: center;
        vertical-align: middle;
        float: right;
    }
    #mian_hyk2 .mian_hyk2_left .mian_hyk2_left_fw {
        font-size: 42px;
        color: #333;
        line-height: 85px;
        font-weight: bold;
        margin-top: 2.5rem;
        display: inline-block;
    }
    #mian_hyk2 .mian_hyk2_left .mian_hyk2_left_yw {
        font-size: 36px;
        color: #666;
        display: block;
    }
    #mian_hyk2 .mian_hyk2_right {
        width: 61.4285714286%;
        height: 100%;
        display: inline-block;
        float: left;
    }
    #mian_hyk2 .mian_hyk2_right .mian_hyk2_right_top {
        width: 100%;
        height: 50px;
        display: inline-block;
        background: transparent;
    }
    #mian_hyk2 .mian_hyk2_right .mian_hyk2_right_bottom {
        width: 100%;
        height: 140px;
        display: inline-block;
        background: #34373E;
        text-align: center;
    }
    .mian_hyk2_right_bottom_left {
        display: inline-block;
        padding: 3.2rem;
        text-align: left;
        font-size: 18px;
    }
    .mian_hyk2_right_bottom_left .mian_hyk2_right_wz {
        color: white;
        display: inline-block;
        line-height: 35px;
        letter-spacing: 3px;
    }
    .mian_hyk2_right_bottom img {
        width: 165px;
        height: 165px;
        background-size: 80% 80%;
        position: relative;
        bottom: 4rem;
    }
}

@media (max-width: 1400px) and (min-width: 1000px) {
    .tp-caption img {
        width: 356px !important;
        height: 268px !important;
    }
    .rev_slider_wrapper {
        height: 920px !important;
    }
    .tp-fullwidth-forcer {
        height: 920px !important;
    }
    #mian_hyk {
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 60px;
        margin: 0 auto;
    }
    #mian_hyk .mian_hyk_left {
        width: 38.5714285714%;
        height: 100%;
        /*line-height: 30px;*/
        display: inline-block;
        background: white;
        text-align: center;
        vertical-align: middle;
        float: left;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_fw {
        font-size: 38px;
        color: #333;
        line-height: 65px;
        font-weight: bold;
        margin-top: 2.5rem;
        display: inline-block;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_yw {
        font-size: 36px;
        color: #666;
        display: block;
    }
    #mian_hyk .mian_hyk_right {
        width: 61.4285714286%;
        height: 100%;
        display: inline-block;
        float: right;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_top {
        width: 100%;
        height: 54px;
        display: inline-block;
        background: transparent;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_bottom {
        width: 100%;
        height: 140px;
        display: inline-block;
        background: #34373E;
    }
    .mian_hyk_right_bottom_left {
        width: 70%;
        display: inline-block;
        padding: 2.1rem 1.1rem 2.1rem 6rem;
        text-align: left;
        font-size: 16px;
    }
    .mian_hyk_right_bottom_left .mian_hyk_right_wz {
        color: white;
        display: inline-block;
        line-height: 35px;
        letter-spacing: 1px;
    }
    .mian_hyk_right_bottom img {
        width: 150px;
        height: 150px;
        background-size: 80% 80%;
        position: relative;
        bottom: 4rem;
    }
}

@media (max-width: 1000px) and (min-width: 667px) {
    .tp-caption img {
        width: 267px !important;
        height: 201px !important;
        position: relative;
        bottom: 50px;
    }
    #mian_hyk {
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 60px;
        margin: 0 auto;
    }
    #mian_hyk .mian_hyk_left {
        width: 38.5714285714%;
        height: 100%;
        /*line-height: 30px;*/
        display: inline-block;
        background: white;
        text-align: center;
        vertical-align: middle;
        float: left;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_fw {
        font-size: 32px;
        color: #333;
        line-height: 65px;
        font-weight: bold;
        margin-top: 2.5rem;
        display: inline-block;
    }
    #mian_hyk .mian_hyk_left .mian_hyk_left_yw {
        font-size: 36px;
        color: #666;
        display: block;
    }
    #mian_hyk .mian_hyk_right {
        width: 61.4285714286%;
        height: 100%;
        display: inline-block;
        float: right;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_top {
        width: 100%;
        height: 54px;
        display: inline-block;
        background: transparent;
    }
    #mian_hyk .mian_hyk_right .mian_hyk_right_bottom {
        width: 100%;
        height: 140px;
        display: inline-block;
        background: #34373E;
    }
    .mian_hyk_right_bottom_left {
        width: 70%;
        display: inline-block;
        padding: 2.1rem 1.1rem 2.1rem 3rem;
        text-align: left;
        font-size: 14px;
    }
    .mian_hyk_right_bottom_left .mian_hyk_right_wz {
        color: white;
        display: inline-block;
        line-height: 35px;
        letter-spacing: 1px;
    }
    .mian_hyk_right_bottom img {
        width: 130px;
        height: 130px;
        background-size: 80% 80%;
        position: relative;
        bottom: 4rem;
    }
}

@media (max-width: 667px) {
    .tp-caption img {
        width: 178px !important;
        height: 134px !important;
        position: relative;
    }
}


/*main*/

#ermw {
    position: relative;
    bottom: 70px;
    /*width: 1920px;*/
    margin: 0 auto;
}

.box {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    padding-left: 0;
    padding-right: 0;
}

.box:hover {
    /*box-shadow: 0 0 15px -5px #000;*/
}

.box:before {
    content: '';
    background-color: transparent;
    /*background-image:*/
    /*radial-gradient(circle at 20% 80%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%),*/
    /*radial-gradient(circle at 80% 20%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%);*/
    background-image: url("../img/index/erwm2.png");
    background-size: 100% 100%;
    height: 100%;
    width: 41.66666667%;
    /*width: 100%;*/
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0.2s;
}

.box5 {
    padding: 0;
}


/*.box2:before {*/


/*content: '';*/


/*background-color: transparent;*/


/*!*background-image:*!*/


/*!*radial-gradient(circle at 20% 80%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%),*!*/


/*!*radial-gradient(circle at 80% 20%, transparent 29%, rgba(255,255,255,0.4) 30%, rgba(255,255,255,0.4) 33%, transparent 34%);*!*/


/*background-image: url("../img/index/erwm2.png");*/


/*background-size: 100% 100%;*/


/*height: 100%;*/


/*width: 100%;*/


/*opacity: 0;*/


/*position: absolute;*/


/*left: 0;*/


/*top: 0;*/


/*z-index: 1;*/


/*transition: all 0.3s ease 0.2s;*/


/*}*/

.box:hover:before {
    opacity: 1;
}


/*.box2:hover:before {*/


/*opacity: 1;*/


/*}*/

.box img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}


/*.box2 img {*/


/*width: 100%;*/


/*height: auto;*/


/*transition: all 0.3s ease 0s;*/


/*}*/

.box:hover img {
    /*filter: blur(2px);*/
}

.box .box-content {
    color: #fff;
    /*background-color: rgba(0,0,0,0.6);*/
    text-align: center;
    width: 100%;
    height: 59%;
    padding: 18% 0 0 0;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.box:hover .box-content {
    top: 0;
}

.box .title {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.box .post {
    color: #32c287;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.box .icon {
    /*background: rgba(50,194,135,0.6);*/
    text-align: center;
    height: 39%;
    width: 100%;
    padding: 15px 0 0;
    margin: 0;
    list-style: none;
    transform: translateX(50%);
    position: absolute;
    right: 50%;
    bottom: -100%;
    z-index: 1;
    transition: all 0.3s;
}

.box:hover .icon {
    bottom: 0;
}

.box .icon li {
    display: inline-block;
    margin: 0 3px;
}

.box .icon li a {
    color: #32c287;
    background-color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 40%;
    display: block;
    transition: all 0.3s;
}

.box .icon li a:hover {
    color: #fff;
    background-color: #04a562;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .box .title {
        font-size: 20px;
    }
}

.row_right {
    height: 682px;
}

.box2 {
    height: 33.333333333%;
    padding: 0 0 0 3rem;
}

.box2:hover {}

.box2>div {
    position: relative;
    /*margin-bottom: 1.5rem;*/
}

.box2 .jvxing {
    float: right;
    width: 365px;
    height: 215px;
}

.box2 .box2_wz {
    color: #333;
    font-size: 42px;
    display: inline-block;
    position: absolute;
    bottom: 0.5rem;
    padding-left: 2rem;
}

.box2 .box2_wz2 {
    color: #666;
    font-size: 26px;
    line-height: 40px;
    position: relative;
    letter-spacing: 3px;
    right: 1.5rem;
    padding-top: 1.5rem;
}

.box2 .box2_wz2 span {
    color: #FF9E6A;
    font-size: 28px;
}

.box3 {
    position: relative;
    right: 4.5rem;
    height: 33.333333333%;
    padding: 1.5rem 0 0 3rem;
}

.box3>div {
    position: relative;
    /*margin-bottom: 1.5rem;*/
}

.box3 .jvxing {
    float: right;
    width: 268px;
    height: 215px;
    position: relative;
    left: 4.5rem;
}

.box3 .box3_wz {
    color: #333;
    font-size: 42px;
    display: inline-block;
    position: absolute;
    bottom: 0.5rem;
    padding-left: 2rem;
}

.box3 .box3_wz2 {
    color: #666;
    font-size: 26px;
    line-height: 40px;
    position: relative;
    letter-spacing: 3px;
    right: 1.5rem;
    padding-top: 1.5rem;
}

.box3 .box3_wz2 span {
    color: #FF9E6A;
    font-size: 28px;
}

.box4 {
    position: relative;
    right: 9rem;
    height: 33.333333333%;
    padding: 0 0 0 3rem;
}

.box4>div {
    position: relative;
    padding-top: 2rem;
    /*margin-bottom: 1.5rem;*/
}

.box4 .jvxing {
    float: right;
    width: 494px;
    height: 215px;
    position: relative;
    left: 9rem;
}

.box4 .box4_wz {
    color: #333;
    font-size: 42px;
    display: inline-block;
    position: absolute;
    bottom: 0.5rem;
    padding-left: 2rem;
}

.box4 .box4_wz2 {
    color: #666;
    font-size: 26px;
    line-height: 40px;
    position: absolute;
    letter-spacing: 3px;
    left: 0;
    bottom: 0;
    padding-top: 0.5rem;
}

.box4 .box4_wz2 span {
    color: #FF9E6A;
    font-size: 28px;
}

.box2 img {
    width: 47px;
    height: 102px;
}

.box3 img {
    width: 72px;
    height: 102px;
}

.box4 img {
    width: 72px;
    height: 102px;
}

.kongke {
    width: 100%;
    height: 6rem;
}

.news_mian {
    width: 1900px;
    height: 1520px;
    padding: 12rem 0 12rem 0;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    background: url("../img/index/tc19.png") no-repeat right;
    position: relative;
}

.news_mian .tc_left {
    text-align: center;
    float: right;
    /*background-image: url("../img/index/tc19.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%  100%;*/
    padding: 0;
}

.tc_left_1 {}

.tc_left_2:nth-child(1) {
    float: left;
    padding: 0;
    background: url("../img/index/tc39.jpg") no-repeat right;
    width: 420px;
    height: 520px;
    margin-right: 5rem;
}

.tc_left_2:nth-child(2) {
    float: left;
    padding: 0;
    background: url("../img/index/tc30.jpg") no-repeat right;
    width: 420px;
    height: 520px;
}

.tc_left_3:nth-child(1) {
    float: left;
    padding: 0;
    background: url("../img/index/tc36.jpg") no-repeat right;
    width: 420px;
    height: 520px;
    margin-right: 5rem;
}

.tc_left_3:nth-child(2) {
    float: left;
    padding: 0;
    background: url("../img/index/tc35.jpg") no-repeat right;
    width: 420px;
    height: 520px;
}

.tc_right_2 {
    float: right;
    padding: 0;
}

.tc_left_bottom {
    margin-top: 5.5rem;
}

.tc_left_wz {
    position: relative;
    right: -30px;
    bottom: 30px;
    font-size: 24px;
    color: white;
    float: right;
    width: 215px;
    height: 55px;
    line-height: 55px;
    background: #FF975E;
    z-index: 999;
}

.tc_left_wz_new {
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 24px;
    color: white;
    float: right;
    width: 215px;
    height: 55px;
    line-height: 55px;
    background: #FF975E;
    z-index: 999;
}

.tc_left_wz2 {
    position: absolute;
    right: -29px;
    bottom: -45px;
    font-size: 24px;
    color: white;
    float: right;
    width: 215px;
    height: 55px;
    line-height: 55px;
    background: #FF975E;
    z-index: 999;
}

.tc_left_wz3 {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 24px;
    color: #333;
    float: right;
    width: 186px;
    height: 64px;
    line-height: 55px;
    background: #F9F9F9;
    /*z-index: 999;*/
}

.tc_left_top {
    float: left;
    height: 100%;
}

.tc_left_top_top {
    float: left;
    height: 76.6666666666%;
    width: 100%;
}

.tc_left_top_bottom {
    float: left;
    height: 23.33333333%;
    width: 100%;
}

.tc_left_top_bottom .tc_left_wz4 {
    position: absolute;
    bottom: 25px;
    font-size: 24px;
    color: white;
    float: right;
    width: 215px;
    height: 55px;
    line-height: 55px;
    background: #FF975E;
}

.tc_left_top_bottom .tc_left_wz5 {
    position: absolute;
    text-align: left;
    padding: 2rem 4rem 2rem 4rem;
    bottom: -101px;
    font-size: 24px;
    color: #333;
    float: right;
    width: 350px;
    height: 126px;
    line-height: 55px;
    background: #F9F9F9;
}

.tc_left_wz5 span {
    display: inline-block;
    line-height: 35px;
}

.center {
    text-align: center;
}

.center h2 {
    color: #333;
    font-size: 36px;
}

.center span {
    color: #666666;
    margin-top: 10px;
    font-size: 26px;
}

.text-center2 {
    text-align: center;
}

.text-center2 p {
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.heading_2 {
    height: 70px;
}

.heading_2 img {
    width: 57px;
    height: 60px;
    text-align: center;
}

.heading_2 span {
    padding-left: 0;
    padding-right: 0;
}


/*.heading_2_main{*/


/*width: 100% !important;*/


/*height: 100%  !important;*/


/*}*/

.heading_2_wz {
    color: #999999;
    font-size: 16px;
    margin-top: 10px;
}

.heading_top {
    text-align: center;
}

.address_2 {
    font-size: 30px;
}

.address_3 {
    font-size: 16px;
    color: #EEEEEE;
}

.icon-mail {
    vertical-align: middle;
}

.bottom27 img {
    width: 130px;
    height: 130px;
}

.bottom27 {
    text-align: center;
}

.bottom27 .col-md-4 {
    margin-bottom: 1rem;
}

.bottom27 .col-md-4 div {
    width: 130px;
    height: 130px;
    line-height: 125px;
    vertical-align: middle;
}

.img_logo {
    width: 73px !important;
    height: 92px !important;
}

#courses2 {
    height: 800px !important;
}

.margin_top_2 {
    /*background: url("../img/index/bjjvxing.png");*/
}

#about {
    height: 680px !important;
    width: 1920px;
    margin: 0 auto;
    background: url("../img/index/bjjvxing.png")no-repeat;
}

.row_2 {
    height: 310px !important;
}

.row_2_left {
    padding: 3.5rem 0.5rem 3.5rem 0.5rem;
    height: 100%;
}

.row_2_right {
    padding: 3.5rem 0.5rem 3.5rem 0.5rem;
    height: 100%;
}

.row_2_left img {
    margin: 1.5rem 2.2rem 1.5rem 2.2rem;
    width: 160px;
    height: 46px;
    padding: 0;
}

.row_2_right img {
    margin: 1.5rem 2.2rem 1.5rem 2.2rem;
    width: 60px;
    height: 60px;
    padding: 0;
}

.col-md-12_1 img:last-child {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 172px;
    height: 46px;
    padding: 0 20px 0 20px;
}

.col-md-12_2 img:last-child {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 160px;
    height: 46px;
    padding: 0 20px 0 20px;
}

.col-md-12_3 img:last-child {
    margin: 3rem 2.2rem 1.5rem 2.5rem;
    width: 44px;
    height: 8px;
}

.row_2_right {
    height: 100%;
    text-align: center;
}

.bottom28 {
    color: #333333 !important;
    font-size: 46px;
    margin-top: 3rem !important;
    font-weight: bold;
}

.bottom29 {
    color: #333333 !important;
    font-size: 46px;
    margin-top: 3rem !important;
    font-weight: bold;
}

.bottom28 .divider-left {
    color: #999;
    font-size: 26px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 100;
}

.bottom29 .divider-left {
    color: #999;
    font-size: 26px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 100;
}

.news_left {
    float: left;
}

.news_right {
    float: right;
}

.news_left2 {
    float: left;
    margin-left: 1rem;
    line-height: 50px;
    /* width: 37.33333333%; */
}

.courses_left {
    float: left;
}

.courses_right {
    float: right;
}

.courses_left2 {
    float: left;
    background: url("../img/about/8.png")no-repeat center;
    height: 675px;
}

.news_wz {
    text-indent: 4rem;
    color: #333333;
    font-size: 26px;
    line-height: 50px;
}

.container_3 {
    width: 1920px;
    height: 920px;
}

.container_4 {
    background: url("../img/about/9.png")no-repeat center;
}

.courses_wz {
    float: right;
    width: 400px;
    height: 390px;
    margin-right: 9rem;
    background: url("../img/about/bjt.png");
}

.courses_wz_top {
    color: #FFC333;
    font-size: 26px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.newcourses_wz_top {
    color: #333;
    font-size: 26px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.courses_wz_bottom {
    color: #FFC333;
    font-size: 26px;
}

.courses_wz_bottom {
    color: white;
    width: 82%;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 0.5rem;
    text-indent: 2rem;
    line-height: 25px;
}

.newcourses_wz_bottom {
    color: #666666;
    width: 86%;
    margin: 0 auto;
    font-size: 28px;
    margin-top: 0.5rem;
    text-indent: 2rem;
    line-height: 30px;
}

.tp-caption .rev_slider_img {
    width: 278px !important;
    height: 131px !important;
    position: relative;
    right: 21rem;
    top: 30rem;
}

.tp-caption .rev_slider_img2 {
    width: 349px !important;
    height: 588px !important;
    /*position: relative;*/
    /*left: 25rem;*/
    /*top: 30rem;*/
}

.tp-caption_2 {
    text-align: left;
}

.tp-caption_2 p {
    font-size: 38px !important;
}

.newcourses_wz {
    text-align: left;
}

.newcourses_wz p img,
.newcourses_wz img,
.newcourses_wz p span img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto !important;
}

.courses5 {
    padding-top: 10rem !important;
}

.newcourses_wz_bottom2 {
    font-size: 16px;
}

.newright {
    float: right;
    color: #666666;
    margin-top: 2rem;
}

.navbar-collapse_2 {
    background: transparent !important;
}

.courses_2 {
    position: relative;
    bottom: 5rem;
}

.box_new {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.box_new:hover {
    .box_new-shadow: 0 0 15px -5px #000;
}

.box_new:before {
    content: '';
    background-color: transparent;
    background-size: 100% 100%;
    background-image: url("../img/index/newerwm.png");
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0.2s;
}

.box_new:hover:before {
    opacity: 1;
}

.box_new img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}

.box_new:hover img {
    filter: blur(2px);
}

.box_new .box_new-content {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    height: 59%;
    padding: 18% 0 0 0;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.box_new:hover .box_new-content {
    top: 0;
}

.box_new .title {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.box_new .post {
    color: #32c287;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.box_new .icon {
    background: rgba(50, 194, 135, 0.6);
    text-align: center;
    height: 39%;
    width: 100%;
    padding: 15px 0 0;
    margin: 0;
    list-style: none;
    transform: translateX(50%);
    position: absolute;
    right: 50%;
    bottom: -100%;
    z-index: 1;
    transition: all 0.3s;
}

.box_new:hover .icon {
    bottom: 0;
}

.box_new .icon li {
    display: inline-block;
    margin: 0 3px;
}

.box_new .icon li a {
    color: #32c287;
    background-color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 40%;
    display: block;
    transition: all 0.3s;
}

.box_new .icon li a:hover {
    color: #fff;
    background-color: #04a562;
    .box_new-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

@media only screen and (max-width:990px) {
    .box_new {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:479px) {
    .box_new .title {
        font-size: 20px;
    }
}